body{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

#banniere{
    width: 500px;
    position: relative;
    left: 700px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#addtocart{
    position: absolute;
    right: 0px;
}

.imageMontre{
    border: 1px black solid;
    padding: 100px;
    margin-right: 26px;
    margin-left: 130px;
}