body{
    font-family: 'Roboto', sans-serif;
}

#banniere{
    width: 500px;
    position: relative;
    left: 700px;
}

#banniere2{
    width: 1904px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#addtocart{
    position: absolute;
    right: 0px;
}

#Montre{
    display: block;
    float: left;
    padding-right: 20px;
    padding-top: 150px;
}


#info{
    font-weight: bolder;
    font-weight: bold;
    padding-top: 250px;
}